/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-image: url('C:/Users/6268162/my-angular-project/src/assets/Img1.jpg'); */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* No repeating of the image */
    background-attachment: fixed; /* Fixed position */
}
